@brem:75rem;
.px2rem(@name, @px){
    @{name}: @px / 75 * 1rem;
}
.mixin (@top:0;@right:0;@bot:0;@left:0){
    margin:@top / 75 * 1rem @right /75*1rem @bot /75*1rem @left /75*1rem;
}
.paddingmixin (@top:0;@right:0;@bot:0;@left:0){
  padding:@top / 75 * 1rem @right /75*1rem @bot /75*1rem @left /75*1rem;
}
.backmixin(@x:0;@y:0;){
  background-size:@x/75*1rem @y/75*1rem;
}
.px2px(@name, @px){
    @{name}: round(@px / 2) * 1px;
  [data-dpr="2"] & {
      @{name}: @px * 1px;
  }
  // for mx3
  [data-dpr="2.5"] & {
      @{name}: round(@px * 2.5 / 2) * 1px;
  }
  // for 小米note
  [data-dpr="2.75"] & {
      @{name}: round(@px * 2.75 / 2) * 1px;
  }
  [data-dpr="3"] & {
      @{name}: round(@px / 2 * 3) * 1px
  }
  // for 三星note4
  [data-dpr="4"] & {
      @{name}: @px * 2px;
  }
}
.header{
  .px2rem(width,750);
  .px2rem(height,90);
  text-align:center;
  .px2rem(line-height,90);
  .px2px(font-size,38);
  background: #FFFFFF;
  -webkit-box-shadow:0 2px 5px 10px rgba(0,0,0,0.10);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
  position:relative;
  z-index:100;
  i{
    .px2rem(width,20);
    .px2rem(height,35);
    position:absolute;
    .px2rem(left,30);
    .px2rem(top,28);
    img{
      width:100%;
    }
  }
}
.banner{
    width:100%;
    height:215/@brem;
    background:url("../img/background.png") no-repeat;
    background-size:contain;
}
.container{
    text-align:center;
    .integralshow{
        padding:40/@brem 0 0 0;
        display:inline-block;
        .integralimg{
            width:78/@brem;
            height:76/@brem;
            float:left;
            img{
                width:100%;
                height:100%;
                font-size:0;
            }
        }
        .integralnum{
            float:left;
            .px2px(font-size,60);
            color: #F9602F;
            line-height:84/@brem;
            padding:0 0 0 22/@brem;
        }
    }
}
.rule{
    text-align:center;  
    padding:16/@brem 0 0 0;  
    a{
        color:#666; 
        .px2px(font-size,24);
        display:inline-block;
        line-height:33/@brem;
        border-bottom:1px solid #666;
    }
}
.integralsortion{
    width:100%;
}
.integral-item{
    height:100/@brem;
    background:#fff;
    border-top:1px solid #DDD;
}
.integral-item:first-child{
    border:none;
}
.time{  
    float:left;
    width:120/@brem;
    margin:11/@brem 0 9/@brem 0;
    border-right: 1px solid #DDD;
    text-align:center;
    span{
        display:block;
        color:#999;
    }
    .day{
        .px2px(font-size,30);
        line-height:42/@brem;
    }
    .date{
        .px2px(font-size,24);
        line-height:33/@brem;
    }
}
.action{
    float:left;
    .px2px(font-size,30);
    color:#333;
    line-height:100/@brem;
    padding:0 0 0 20/@brem;
}
.bill{
    float:right;
    padding:14/@brem 30/@brem 0 0;
    .income{
        .px2px(font-size,30);
        color:#333;
        line-height:42/@brem;
        span{
            float:right;
        }
    }
    .settlement{
        .px2px(font-size,24);
        color:#999;
        line-height:33/@brem;
        span{
            float:right;
        }
    }
}
