.header {
  width: 10rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: 19px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
}
[data-dpr="2"] .header {
  font-size: 38px;
}
[data-dpr="2.5"] .header {
  font-size: 48px;
}
[data-dpr="2.75"] .header {
  font-size: 52px;
}
[data-dpr="3"] .header {
  font-size: 57px;
}
[data-dpr="4"] .header {
  font-size: 76px;
}
.header i {
  width: 0.26666667rem;
  height: 0.46666667rem;
  position: absolute;
  left: 0.4rem;
  top: 0.37333333rem;
}
.header i img {
  width: 100%;
}
.banner {
  width: 100%;
  height: 2.86666667rem;
  background: url("../img/background.png") no-repeat;
  background-size: contain;
}
.container {
  text-align: center;
}
.container .integralshow {
  padding: 0.53333333rem 0 0 0;
  display: inline-block;
}
.container .integralshow .integralimg {
  width: 1.04rem;
  height: 1.01333333rem;
  float: left;
}
.container .integralshow .integralimg img {
  width: 100%;
  height: 100%;
  font-size: 0;
}
.container .integralshow .integralnum {
  float: left;
  font-size: 30px;
  color: #F9602F;
  line-height: 1.12rem;
  padding: 0 0 0 0.29333333rem;
}
[data-dpr="2"] .container .integralshow .integralnum {
  font-size: 60px;
}
[data-dpr="2.5"] .container .integralshow .integralnum {
  font-size: 75px;
}
[data-dpr="2.75"] .container .integralshow .integralnum {
  font-size: 83px;
}
[data-dpr="3"] .container .integralshow .integralnum {
  font-size: 90px;
}
[data-dpr="4"] .container .integralshow .integralnum {
  font-size: 120px;
}
.rule {
  text-align: center;
  padding: 0.21333333rem 0 0 0;
}
.rule a {
  color: #666;
  font-size: 12px;
  display: inline-block;
  line-height: 0.44rem;
  border-bottom: 1px solid #666;
}
[data-dpr="2"] .rule a {
  font-size: 24px;
}
[data-dpr="2.5"] .rule a {
  font-size: 30px;
}
[data-dpr="2.75"] .rule a {
  font-size: 33px;
}
[data-dpr="3"] .rule a {
  font-size: 36px;
}
[data-dpr="4"] .rule a {
  font-size: 48px;
}
.integralsortion {
  width: 100%;
}
.integral-item {
  height: 1.33333333rem;
  background: #fff;
  border-top: 1px solid #DDD;
}
.integral-item:first-child {
  border: none;
}
.time {
  float: left;
  width: 1.6rem;
  margin: 0.14666667rem 0 0.12rem 0;
  border-right: 1px solid #DDD;
  text-align: center;
}
.time span {
  display: block;
  color: #999;
}
.time .day {
  font-size: 15px;
  line-height: 0.56rem;
}
[data-dpr="2"] .time .day {
  font-size: 30px;
}
[data-dpr="2.5"] .time .day {
  font-size: 38px;
}
[data-dpr="2.75"] .time .day {
  font-size: 41px;
}
[data-dpr="3"] .time .day {
  font-size: 45px;
}
[data-dpr="4"] .time .day {
  font-size: 60px;
}
.time .date {
  font-size: 12px;
  line-height: 0.44rem;
}
[data-dpr="2"] .time .date {
  font-size: 24px;
}
[data-dpr="2.5"] .time .date {
  font-size: 30px;
}
[data-dpr="2.75"] .time .date {
  font-size: 33px;
}
[data-dpr="3"] .time .date {
  font-size: 36px;
}
[data-dpr="4"] .time .date {
  font-size: 48px;
}
.action {
  float: left;
  font-size: 15px;
  color: #333;
  line-height: 1.33333333rem;
  padding: 0 0 0 0.26666667rem;
}
[data-dpr="2"] .action {
  font-size: 30px;
}
[data-dpr="2.5"] .action {
  font-size: 38px;
}
[data-dpr="2.75"] .action {
  font-size: 41px;
}
[data-dpr="3"] .action {
  font-size: 45px;
}
[data-dpr="4"] .action {
  font-size: 60px;
}
.bill {
  float: right;
  padding: 0.18666667rem 0.4rem 0 0;
}
.bill .income {
  font-size: 15px;
  color: #333;
  line-height: 0.56rem;
}
[data-dpr="2"] .bill .income {
  font-size: 30px;
}
[data-dpr="2.5"] .bill .income {
  font-size: 38px;
}
[data-dpr="2.75"] .bill .income {
  font-size: 41px;
}
[data-dpr="3"] .bill .income {
  font-size: 45px;
}
[data-dpr="4"] .bill .income {
  font-size: 60px;
}
.bill .income span {
  float: right;
}
.bill .settlement {
  font-size: 12px;
  color: #999;
  line-height: 0.44rem;
}
[data-dpr="2"] .bill .settlement {
  font-size: 24px;
}
[data-dpr="2.5"] .bill .settlement {
  font-size: 30px;
}
[data-dpr="2.75"] .bill .settlement {
  font-size: 33px;
}
[data-dpr="3"] .bill .settlement {
  font-size: 36px;
}
[data-dpr="4"] .bill .settlement {
  font-size: 48px;
}
.bill .settlement span {
  float: right;
}
